*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
display:flex;
font-family:Arial, sans-serif;
background:#f4f6f9;
}

.sidebar{
width:240px;
height:100vh;
background:#1f2937;
color:white;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:12px 0;
cursor:pointer;
}

.main{
flex:1;
padding:30px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    transition:0.3s;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    transition:0.3s;
}

.card h3{
font-size:16px;
margin-bottom:10px;
}

.card p{
font-size:22px;
font-weight:bold;
}

.chart-container{
background:white;
padding:20px;
margin-top:30px;
border-radius:12px;
}
.card:hover{
    transform:translateY(-5px);
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}
.section{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-top:30px;
}

.table-box{
background:white;
padding:20px;
border-radius:12px;
margin-top:20px;
}

table{
width:100%;
border-collapse:collapse;
}

table td,
table th{
padding:12px;
border-bottom:1px solid #ddd;
text-align:left;
}
.positive{
    color:#16a34a;
    font-weight:bold;
}

.negative{
    color:#dc2626;
    font-weight:bold;
}
@media (max-width:768px){

    body{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        height:auto;
    }

    .cards{
        grid-template-columns:1fr;
    }

    .section{
        grid-template-columns:1fr;
    }

    .main{
        padding:15px;
    }

    table{
        font-size:14px;
    }

}
